@import 'vendor/grid.less';
@import 'vendor/lesshat.less';

@column-width: 40;
@gutter-width: 30;
@columns: 20;

@total-width: 100%;

@c1: #999;
@c2: #ccc;
@blue: rgb(3, 102, 209);
@darkblue: #006;

@import 'vendor/normalize.css';
@import 'main/main.less';
@import 'main/responsive.less';
