.navbar {
  margin-bottom: 0;
  border-bottom: #1a6091 1px solid;
  background-color: #1f6ea6;
}
.navbar .navbar-brand {
  color: #fff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar .navbar-nav > li > a {
  color: #b1cbde;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #1a6091;
}
.tab-content > .tab-pane {
  padding-top: 30px;
}
.sidenav {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}
.jumbotron {
  background-color: #1f6ea6;
  margin-top: 0;
  padding: 30px 0;
  border-top: #3376a6 1px solid;
}
.jumbotron h1 {
  color: #fff;
  font-weight: 400;
  margin-top: 0;
  text-shadow: 4px 3px 0 #1f6ea6, 9px 8px 0 rgba(0, 0, 0, 0.15);
}
.jumbotron p {
  color: #ddd;
}
#footer {
  background-color: #1f6ea6;
  border-top: #3376a6 1px solid;
  margin-top: 50px;
  padding: 40px;
  color: #b1cbde;
}
#footer a {
  color: #fff;
}
.api-table {
  margin: 0;
}
.api-table th,
.api-table td {
  padding: 8px;
  border-bottom: 1px solid #fff;
}
.api-table th {
  color: #fff;
  background-color: #666;
  font-weight: 200;
}
.api-table th:nth-child(3n+1) {
  text-align: left;
}
.api-table td {
  font-size: 0.875em;
  font-weight: normal;
  background: #eee;
  border-top: 1px solid transparent;
  border-right: 1px solid #fff;
  color: #444;
}
.api-table tr:hover td {
  background: #ddd;
  color: #444;
}
input[type=text],
textarea {
  font-size: .875em;
  padding: 3px;
}
