---
title: Overlay 
id: overlay 
---

<p>
	<a href="#" id="overlay_open">Open Overlay</a>
</p>

<div id="overlay_content">
	<h1>Overlay Content</h1>
	<h2>Chemical Disarmament Hard Even in Peacetime</h2>
	<p>
	Syria would first have to provide specifics about all aspects of its chemical weapons program. But even that step would require negotiation to determine exactly what should be declared and whether certain systems would be covered, because many delivery systems for chemical weapons — including artillery, mortars and multiple-rocket launchers — can also fire conventional weapons.
	</p>
	<p>
	Then, experts said, large numbers of foreign troops would almost certainly be needed to safeguard inspectors working in the midst of the civil war.
	</p>
	<p>
	“We’re talking boots on the ground,” said one former United Nations weapons inspector from Iraq, who spoke on the condition of anonymity because he still works in the field on contracts and did not want to hurt his chances of future employment. “We’re not talking about just putting someone at the gate. You have to have layers of security.”
	</p>
</div>

