---
title: Multiselect
id: multiselect
---

<div class="row">
	<div class="col-md-3">
		{{>side_nav}}
	</div>

	<div class="col-md-9" role="main">
        <h1>Multiselect</h1>

		<form class="select_form">
			<h2>Multiple Item Select:</h2>
			<div id="multiselect_menu"></div>
			<button class="btn btn-default" type="submit">Go »</button>
		</form>
		
		<form class="select_form">
			<h2>Single Item Select:</h2>
			<div id="multiselect_menu_single"></div>
			<button class="btn btn-default" type="submit">Go »</button>
		</form>
    </div>
</div>
