---
title: Overlay
id: overlay 
tagline: A modular overlay
---

<div class="row">
	<div class="col-md-3">
		{{>side_nav}}
	</div>

	<div class="col-md-9" role="main">
		<ul class="nav nav-tabs">
            <li><a href="#api" data-toggle="tab">API</a></li>
            <li><a href="#examples" data-toggle="tab">Examples</a></li>
        </ul>

		<div class="tab-content">
            <div id="api" class="tab-pane">
                <h3>Options:</h3>
                <table class="api-table">
                    <thead>
                        <tr>
                            <th>Option</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>destoryOnClose</td>
                            <td>bool</td>
                            <td>true</td>
                            <td>Calls the plugins destory method when overlay is closed.  
                            If the overlay content existed on the page, that content is  
                            returned to its original position.
                            </td>
                        </tr>
                        <tr>
                            <td>customClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>one or more space-separated classes to be added to dialog wrapper.</td>
                        </tr>
                        <tr>
                            <td>closeSelector</td>
                            <td>string</td>
                            <td>empty</td>
                            <td>Selector that specifies elements that will close the dialog on click.</td>
                        </tr>
                        <tr>
                            <td>closeButton</td>
                            <td>bool</td>
                            <td>true</td>
                            <td>Shows the dialog's default close button</td>
                        </tr>
                        <tr>
                            <td>closeOnBodyClick</td>
                            <td>bool</td>
                            <td>false</td>
                            <td>Whether a click outside the overlay should close the overlay</td>
                        </tr>
                        <tr>
                            <td>autoOpen</td>
                            <td>bool</td>
                            <td>true</td>
                            <td>When true, the dialog opens automatically when plugin first called.</td>
                        </tr>
                        <tr>
                            <td>maxWidth</td>
                            <td>string</td>
                            <td>90%</td>
                            <td>sets dialog's max-width</td>
                        </tr>
                        <tr>
                            <td>maxHeight</td>
                            <td>string</td>
                            <td>null</td>
                            <td>set's dialog's max-height</td>
                        </tr>
                        <tr>
                            <td>minWidth</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Sets dialog's min-width</td>
                        </tr>
                        <tr>
                            <td>minHeight</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Sets dialog's min-height</td>
                        </tr>
                        <tr>
                            <td>width</td>
                            <td>string</td>
                            <td>null</td>
                            <td>width</td>
                        </tr>
                        <tr>
                            <td>height</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Dialog height</td>
                        </tr>
                    </tbody>
                </table>

				<!--
                <h3>Events:</h3>
				-->

                <h3>Methods:</h3>

				<dl>
					<dt>append</dt>
					<dd>Append html content to the dialog</dd>
					<dt>html</dt>
					<dd>Set html content.  Replaces any existing content</dd>
				</dl>
            </div>
            <div id="examples" class="tab-pane">
				<h3>Basic Overlay:</h3>
                <p>
                    <a href="#" id="overlay_open">Open</a>
                </p>
                <p>
                    <select id="change_width">
                        <option value="">Change Width</option>
                        <option value="small">small</option>
                        <option value="medium">medium</option>
                        <option value="large">large</option>
                    </select>
                </p>
            </div>
        </div>
    </div>
</div>


<!-- <div id="overlay_content" style="width:200px"> -->
<div id="overlay_content" style="display: none;">
	<h1>Overlay Content</h1>
	<h2>Chemical Disarmament Hard Even in Peacetime</h2>
	<p>
		<a href="#" class="close">Close</a>
	</p>
	<p>
	Syria would first have to provide specifics about all aspects of its chemical weapons program. But even that step would require negotiation to determine exactly what should be declared and whether certain systems would be covered, because many delivery systems for chemical weapons — including artillery, mortars and multiple-rocket launchers — can also fire conventional weapons.
	</p>
</div>
