---
title: Overlay 
id: overlay 
---

<p>
	<a href="#" id="overlay_open">Open Overlay</a>
</p>
<p>
	<select id="change_width">
		<option value="">Change Width</option>
		<option value="200">200</option>
		<option value="400">400</option>
		<option value="600">600</option>
		<option value="800">800</option>
	</select>
</p>

<!-- <div id="overlay_content" style="width:200px"> -->
<div id="overlay_content" style="display: none;">
	<h1>Overlay Content</h1>
	<h2>Chemical Disarmament Hard Even in Peacetime</h2>
	<p>
		<a href="#" class="close">Close</a>
	</p>
	<p>
	Syria would first have to provide specifics about all aspects of its chemical weapons program. But even that step would require negotiation to determine exactly what should be declared and whether certain systems would be covered, because many delivery systems for chemical weapons — including artillery, mortars and multiple-rocket launchers — can also fire conventional weapons.
	</p>
</div>
