---
title: Popover
id: popover
---

<p>
Opens an overlay next to the item the plugin is attached to.
</p>

<div id="tabs">
	<ul>
		<li><a href="#api">API</a></li>
		<li><a href="#examples">Examples</a></li>
	</ul>
	<div id="api">
		<table class="api-table">
			<thead>
				<tr>
					<th>Option</th>
					<th>Type</th>
					<th>Default</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>position</td>
					<td>string</td>
					<td>top</td>
					<td>Position relative to the element the plugin is attached to.  Valid options: top, bottom, left, right</td>
				</tr>
				<tr>
					<td>autoOpen</td>
					<td>bool</td>
					<td>false</td>
					<td>Indicates whether the overlay should open when the plugin is initialized</td>
				</tr>
				<tr>
					<td>width</td>
					<td>mixed</td>
					<td>auto</td>
					<td>Overlay width</td>
				</tr>
				<tr>
					<td>height</td>
					<td>mixed</td>
					<td>auto</td>
					<td>Overlay height</td>
				</tr>
				<tr>
					<td>maxWidth</td>
					<td>mixed</td>
					<td>null</td>
					<td>Overlay max-width</td>
				</tr>
				<tr>
					<td>maxHeight</td>
					<td>mixed</td>
					<td>null</td>
					<td>Overlay max-height</td>
				</tr>
				<tr>
					<td>html</td>
					<td>string</td>
					<td>null</td>
					<td>HTML content to insert in overlay</td>
				</tr>
				<tr>
					<td>text</td>
					<td>string</td>
					<td>null</td>
					<td>Text content to insert in overlay</td>
				</tr>
				<tr>
					<td>distance</td>
					<td>int</td>
					<td>5</td>
					<td>Number of pixels the overlay should appear from element.</td>
				</tr>
				<tr>
					<td>xpos</td>
					<td>int</td>
					<td>null</td>
					<td>Absolute position from the left</td>
				</tr>
				<tr>
					<td>ypos</td>
					<td>int</td>
					<td>null</td>
					<td>Absolute position from the top</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="examples">
		<h2>4 Postions</h2>
		<p>
			<a href="#" class="open_top">Top</a> |
			<a href="#" class="open_bottom">Bottom</a> |
			<a href="#" class="open_left">Left</a> |
			<a href="#" class="open_right">Right</a>
		</p>

		<h2>Using Delegation</h2>

		<p>
		The following example initializes and opens a new popover each time a user clicks a link.  This reduces the plugin's memory footprint and initialization cost when a large number of popover items exists on a page.
		</p>
		<p id="delegation_links">
			<a href="#" class="open_del1" data-text="Hello You">Link 1</a> |
			<a href="#" class="open_del2" data-text="Hello Too">Link 2</a> |
			<a href="#" class="open_del3" data-text="Hello Moo">Link 3</a> |
			<a href="#" class="open_del4" data-text="Hello Goo">Link 4</a>
		</p>
	</div>
</div>
