---
title: Popover
id: popover
---

<h2>4 Postions</h2>
<p>
	<a href="#" class="open_top">Top</a> |
	<a href="#" class="open_bottom">Bottom</a> |
	<a href="#" class="open_left">Left</a> |
	<a href="#" class="open_right">Right</a>
</p>

<h2>Using Delegation</h2>

<p>
The following example initializes and opens a new popover each time a user clicks a link.  This reduces the plugin's memory footprint and initialization cost when a large number of popover items exists on a page.
</p>
<p id="delegation_links">
	<a href="#" class="open_del1" data-text="Hello You">Link 1</a> |
	<a href="#" class="open_del2" data-text="Hello Too">Link 2</a> |
	<a href="#" class="open_del3" data-text="Hello Moo">Link 3</a> |
	<a href="#" class="open_del4" data-text="Hello Goo">Link 4</a>
</p>


    
