---
title: Slideshow 
id: slideshow 
---

<ul class="slideshow_top">
	<li>
		<img src="http://lorempixel.com/400/300/food/1" alt="News Image" class="lw_image lw_image133"/>
		<div class="lw_news_caption">Caption text</div>
		<div class="lw_news_credit">John Doe</div>
	</li>
	<li>
		<img src="http://lorempixel.com/400/400/food/2" alt="News Image" class="lw_image lw_image137"/>
	</li>
	<li>
		<img src="http://lorempixel.com/400/200/food/3" alt="News Image" class="lw_image lw_image136"/>
	</li>
</ul>

<ul class="slideshow_bottom">
	<li>
		<img src="http://lorempixel.com/400/300/food/4" alt="News Image" class="lw_image lw_image133"/>
		<div class="lw_news_caption">Another Test</div>
	</li>
	<li>
		<img src="http://lorempixel.com/400/300/food/5" alt="News Image" class="lw_image lw_image137"/>
	</li>
	<li>
		<img src="http://lorempixel.com/400/300/food/6" alt="News Image" class="lw_image lw_image136"/>
	</li>
	<li>
		<img src="http://lorempixel.com/400/300/food/7" alt="News Image" class="lw_image lw_image136"/>
	</li>
	<li>
		<img src="http://lorempixel.com/400/300/food/8" alt="News Image" class="lw_image lw_image136"/>
	</li>
</ul>
