<div class="hidden-print" role="complementary">
	<ul class="nav sidenav">
		<li>
			<a href="#overview">Overview</a>
			<ul class="nav">
				{{#each pages}}
					<li{{#is ../filename this.filename}} class="active"{{/is}}>
						<a href="{{this.filename}}">{{data.title}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
	</ul>
</div>
