<div class="hidden-print" role="complementary">
	<ul class="nav sidenav">
		<li>
			<ul class="nav">
				{{#each plugins}}
					<li{{#is ../filename @key}} class="active"{{/is}}>
						<a href="{{@key}}.html">{{ capitalizeFirst @key}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
	</ul>
</div>
