<div class="hidden-print" role="complementary">
	<ul class="nav sidenav">
		<li>
			<ul class="nav">
				{{#each plugins}}
					<li{{#is ../filename this.name}} class="active"{{/is}}>
						<a href="{{this.name}}.html">{{this.name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
	</ul>
</div>
